<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }} <a href="http://www.uir.ac.ma" class="font-weight-bold ml-1" target="_blank">Université Internationale de Rabat</a>
        </div>
      </div>
      <div class="col-xl-6">
        <ul class="nav nav-footer justify-content-center justify-content-xl-end">
          <li class="nav-item">
            <a href="https://www.creative-tim.com/presentation?ref=ada-footer-auth-layout" class="nav-link" target="_blank">A Propos</a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/Universite.Internationale.de.Rabat" class="nav-link" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/uir.rabat" class="nav-link" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/UIRabat" class="nav-link" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCGIT-YaIQf6cmYVt1yOZLkQ?view_as=subscriber" class="nav-link" target="_blank"><i class="fab fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

